import /init.recovery.qcom_decrypt.rc

on early-init
    start set_permissive

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice


on property:init.svc.fastbootd=running
    # Load prebuild kernel modules in fastboot mode
    mount /vendor_dlkm
    insmod /vendor/lib/modules/adsp_loader_dlkm.ko
    insmod /vendor/lib/modules/bm_adsp_ulog.ko
    insmod /vendor/lib/modules/goodix_brl_mmi.ko
    insmod /vendor/lib/modules/gpr_dlkm.ko
    insmod /vendor/lib/modules/mmi_annotate.ko
    insmod /vendor/lib/modules/mmi_info.ko
    insmod /vendor/lib/modules/mmi_relay.ko
    insmod /vendor/lib/modules/mmi_charger.ko
    insmod /vendor/lib/modules/mmi_sys_temp.ko
    insmod /vendor/lib/modules/moto_f_mass_storage.ko
    insmod /vendor/lib/modules/moto_f_usbnet.ko
    insmod /vendor/lib/modules/msm_drm.ko
    insmod /vendor/lib/modules/phy-msm-ssusb-qmp.ko
    insmod /vendor/lib/modules/qti_glink_charger.ko
    insmod /vendor/lib/modules/qpnp_adaptive_charge.ko
    insmod /vendor/lib/modules/q6_pdr_dlkm.ko
    insmod /vendor/lib/modules/q6_notifier_dlkm.ko
    insmod /vendor/lib/modules/qdss_bridge.ko
    insmod /vendor/lib/modules/sensors_class.ko
    insmod /vendor/lib/modules/snd_event_dlkm.ko
    insmod /vendor/lib/modules/spf_core_dlkm.ko
    insmod /vendor/lib/modules/ssusb-redriver-ps5169.ko
    insmod /vendor/lib/modules/stmicro_mmi.ko
    insmod /vendor/lib/modules/sx937x_sar.ko
    insmod /vendor/lib/modules/touchscreen_mmi.ko
    insmod /vendor/lib/modules/usb_f_qdss.ko
    setprop twrp.modules.loaded true

on post-fs && property:init.svc.fastbootd=stopped
    # Trigger loading kernel modules in normal mode
    setprop twrp.modules.loaded true

on property:twrp.modules.loaded=true
    # Load kernel modules and ADSP firmware for PMIC
    wait /sys/kernel/boot_adsp/boot
    start runatboot
    wait /sys/class/power_supply/battery

on post-fs
    start boot-hal-1-2

on boot
    start health-hal-2-1

service runatboot /system/bin/runatboot.sh
    user root
    group root
    oneshot
    seclabel u:r:recovery:s0
